<h4 class = "center"><%= @product.product_name%> is added to Cart!</h4>

<h3>$<%= '%.02f' % @order.subtotal %> </h3>

<section class="center">
<%= link_to "Continue Shopping", products_path, class: 'button' %>
<%= link_to "Cart", cart_path(@order.id), class: 'button' %>
</section>
