
<section class = "vertical_middle">
<h4 class = "left_more_margin"> Enter order number: </h4>
<%= form_tag url: find_order_path, method: :post do  %>
  <div class ="width_50"><%= text_field_tag :order_id %></div>
  <section class = "center">
    <%= submit_tag 'Find my order', class: 'button' %>
  </section>
<% end %>
</section>
