<h1>Order list <h2>
<table>
  <tr>
  <% @orderproducts.each do |orderproduct|%>
    <td>Order # </td>
    <td><%= Order.find_by(id: orderproduct.order_id).id%></td>
  </tr>
  <tr>
    <td>Product</td>
    <td><%= Product.find_by(id: orderproduct.product_id).name%></td>
  </tr>
  <tr>
    <td>Qty </td>
    <td>orderproduct.quantity </td>
  </tr>
  <% end %>
