<h1>Cart</h1>
<% orderproducts = Orderproduct.where(order_id: params[:id]) %>
<ul>
<% orderproducts.each do |orderproduct| %>
<li><%= Product.find_by(id: orderproduct[:product_id]).product_name %></li>
<% end %>
</ul>
