<h1>Cart</h1>
<ul>
<li><%= product_names = Product.where(id: session[:product_id]).map{|p| p[:product_name]} %>
 :: unit price :<%= prices = Product.where(id: session[:product_id]).map{|p| p[:price]}  %>
<%= session[:quantities] %></li>
<li><%=  %></li>
<%  %>
</ul>
