<h2> List of Merchants </h2>

<section id="merchant" class="columns large-12 large-centered columns">
<ul class="no-bullet text-center">
  <% @merchants.each do |merchant| %>
  <li class="text-right">
    <%= link_to merchant.merchant_name, merchant_path(merchant.id) %>
  </li>

  <% end %>
</ul>
</section>
