<h2>Merchants#show</h2>

<ul>
  <li><%= "Merchant Name: #{@merchant.merchant_name}" %></li>
  <li><%= "Email: #{@merchant.merchant_email}" %></li>
  <li><%= "Username: #{@merchant.username}" %></li>
</ul>
