section#merchant li:nth-child(odd) {
  border: transparent;
  background: pink;
  width: 20%;
  height: 10%;
  display: inline-block;
  margin: 2em;
  padding: 2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #FF4E50;
}

section#merchant li:nth-child(even) {
  border: transparent;
  background: #ABF9DC;
  width: 20%;
  height: 10%;
  display: inline-block;
  margin: 2em;
  padding: 2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: #FF4E50;
}


.morder_table {
    margin: auto;
    width: 80%;
    border-collapse: separate;
    empty-cells: hide;
}



.morder_th_td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #F0F8FF;
    color: black;
}
