.order_table {
    margin: auto;
    width: 80%;
    border-collapse: separate;
}

#order_image.sidexside {
    height: 15%;
    width: 15%;
}

.order_th_td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #F0F8FF;
    color: black;
}

.sidexside{
    display: inline-block;
    font-size: 2em;
    margin-left: 3%;

}

.link_buttons{
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}

.center{
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.purchase_width{
    width: 80%;
    margin: auto;
}

.list_no_button{
    list-style: none;
}

.order_title{
    margin-left: 10%;
    color: #3366cc;

}
.left_margin{
    margin-left: 10%;
}
.left_more_margin{
    margin-left: 25%;
}

.width_50 {
    width: 50%;
    margin: auto;
}

.vertical_middle {
    margin-top: 8%
}
