<h3 class="columns large-12 small-12 text-center">
  All Raincoats
</h3>

<section>
  <% @products.each do |product| %>
  <div class="columns large-3 medium-6 small-12">
    <%= link_to image_tag(product.default_image, width: 200, height: 200, alt: "Cute animals in raincoats"), product_path(product) %>
    <h3><%#= link_to product.product_name, product_path(product) %></h3>
    <h3><%#= product.price %></h3>
  </div>
  <% end %>
</section>
