<h3 class="columns large-12 small-12 text-center">
  All Raincoats
</h3>

<section class="row">
<% @products.each do |product| %>
<div class="columns large-3">
  <% if product.photo_url.nil? %>
    <%= image_tag("http://www.fillmurray.com/200/200") %>
    <% else %>
    <%= image_tag(product.photo_url, width: 200, height: 200, alt: "Cute animals in raincoats") %>
    <% end %>
    <h3><%= link_to product.product_name, product_path(product) %></h3>
    <h3>$<%= product.price %></h3>
  </div>
    <% end %>
  </section>
