<h1>Products#index</h1>
<% @products.each do |product| %>
  <%= image_tag("http://fillmurray.com/200/300") %>
  <h3><%= link_to product.product_name, product_path(product) %></h3>
  <h3>$<%= '%.02f' % product.price %></h3>
<% end %>
